body {
  font-family: "Protest Strike", sans-serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 24, 34, 1) 73%
  );
}
.parent {
  width: 90%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 11px;
  height: 90dvh;
}
.div6 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
  transition: 0.25s linear;
  color: white;
  justify-content: center;
  align-items: center;
}

.descarga {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.div6:hover a {
  transition: 1s;
  opacity: 1;
}
#joel {
  position: absolute; /* Imagen con posición absoluta */
  z-index: 2; /* Asegura que esté por encima de otros elementos */
  object-position: top;
  object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
  width: 90%;
  height: 92%;
  top: 4%;
  left: 5%;
  transition: opacity 0.5s ease; /* Transición para opacidad */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  padding: 2%;
}
.div1 h1 {
  margin: 0 auto;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2%;
}
.div2 h1 {
  margin-top: 0;
  text-align: center;
}
.proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 5px;
  width: 100%; /* Ancho del contenedor */
  height: 85%; /* Altura fija del contenedor */
  overflow-y: scroll; /* Activa el scroll vertical */
  scrollbar-width: none;
}
.proyectos .proyectos-div {
  overflow: hidden;
  border-radius: 5px;
  height: 15dvh;
  padding: 1%;
  display: flex;

  position: relative;
  background-color: rgba(255, 255, 255, 0.301);
}

.proyectos-div h3 {
  width: 100%;
  overflow: visible;
  border: 1px solid red;

  text-wrap: wrap ;
  padding: 1%;
  margin: 0;
}
#progreso {
  background-image: url(media/wip.gif);
  background-size: cover;
  background-position: center;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 2px;
  backdrop-filter: blur(8px);
  padding: 1%;
  transition: 0.25s ease-in-out;
}
.div3 h1 {
  margin: 0;
  margin-bottom: 2%;
}
.carrusel {
  width: 100%; /* El ancho del contenedor será el 100% del padre */
  height: 50%; /* Ajusta la altura */
  margin: 0 auto;
  overflow: hidden; /* Oculta los elementos fuera del contenedor */
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  ); /* Efecto de desvanecimiento */
  margin-bottom: 1%;
}

.carrusel .carrusel-track {
  display: flex;
  width: max-content; /* Asegura que los elementos no se rompan en varias líneas */
  animation: scroll 30s linear infinite; /* La animación será lineal e infinita */
}

.carrusel .elemento {
  min-width: 320px; /* Ancho mínimo de cada elemento */
  margin-right: -170px; /* Margen entre los elementos */
}

.carrusel .elemento img {
  width: 100px; /* Las imágenes ocupan todo el ancho del elemento */
}
#cshar {
  width: 10px; /* Las imágenes ocupan todo el ancho del elemento */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Empieza desde el principio */
  }
  100% {
    transform: translateX(
      -50%
    ); /* Mueve la mitad de los elementos duplicados */
  }
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.301);
  backdrop-filter: blur(80px);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.341) 2px 2px 2px;
}
.experiencias {
  border-radius: 5px;
  width: 100%; /* Ancho del contenedor */
  height: 90%; /* Altura fija del contenedor */
  overflow-y: scroll; /* Activa el scroll vertical */
  scrollbar-width: none;
}
.experiencias div {
  margin-top: 5%;
  border-radius: 5px;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.301);
  padding: 2%;
}

.div5 {
  background-color: rgba(255, 255, 255, 0.301);
  grid-row-start: 6;
  box-shadow: rgba(0, 0, 0, 0.219) 2px 2px 2px;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.div5:hover {
  background-color: rgba(255, 255, 255, 0.548);
}
.div5 h1 {
  margin-top: 0;
}

.div6 {
  color: white;
  position: relative;
  grid-row-start: 6;
  border-radius: 5px;
  background-image: url(/media/images.jpg);
  background-size: cover;
  border: 1px solid black;
}
.div6 h1 {
  text-align: center;
}

.div1,
.div2,
.div6 {
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(80px);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.652) 2px 2px 2px;
}
#socials ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 2rem;
}

#socials img {
  width: 60px;
  z-index: 2;
}
#socials li {
  transition: 0.25s ease-in-out;
}
#socials li:hover {
  transform: translateY(-15px);
}
.verMas {
  width: 100%;
  display: flex;
  justify-content: center;
}
#abrir-modal {
  cursor: pointer;
  width: 50%;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.729) 2px 2px 2px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  height: 5dvh;
  font-family: "Kay Pho Du", serif;
}

#abrir-modal:hover {
  background-color: rgba(255, 255, 255, 0.548);
}

#abrir-modal:active {
  box-shadow: rgba(0, 0, 0, 0) 2px 2px 2px;
  margin-top: 0.25%;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

.modal-contenido {
  background-color: #ffffff52;
  margin: 2% auto;
  padding: 20px;
  width: 90%;
  height: 90dvh;
  text-align: center;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.modal-contenido {
  background-color: #ffffffa6;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 90%;
  height: 86%;
  text-align: center;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.cerrar {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: rgb(95, 95, 95);
  text-decoration: none;
  cursor: pointer;
}

.modal-activo {
  display: block;
  opacity: 1;
}

.modal-activo .modal-contenido {
  opacity: 1;
  transform: scale(1);
}
