body {
  font-family: "Kay Pho Du", serif;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(18, 24, 34, 1) 73%
  );
}
.parent {
  width: 90%;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 11px;
  height: 90dvh;
}
.div6 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
  transition: 0.25s linear;
  color: white;
  justify-content: center;
  align-items: center;
}

.descarga {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.div6:hover a {
  opacity: 1;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  border-radius: 5px;
  border: 1px solid black;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  box-shadow: rgba(0, 0, 0, 0.445) 2px 2px 2px;
  backdrop-filter: blur(8px);
  padding: 1%;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.div3:hover {
  background-color: rgba(255, 255, 255, 0.548);
}

.div3 h1 {
  margin: 0;
  margin-bottom: 2%;
}
.carrusel {
  width: 100%; /* El ancho del contenedor será el 100% del padre */
  height: 50%; /* Ajusta la altura */
  margin: 0 auto;
  overflow: hidden; /* Oculta los elementos fuera del contenedor */
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  ); /* Efecto de desvanecimiento */
}

.carrusel .carrusel-track {
  display: flex;
  width: max-content; /* Asegura que los elementos no se rompan en varias líneas */
  animation: scroll 30s linear infinite; /* La animación será lineal e infinita */
}

.carrusel .elemento {
  min-width: 320px; /* Ancho mínimo de cada elemento */
  margin-right: -170px; /* Margen entre los elementos */
}

.carrusel .elemento img {
  width: 100px; /* Las imágenes ocupan todo el ancho del elemento */
}
#cshar {
  width: 10px; /* Las imágenes ocupan todo el ancho del elemento */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Empieza desde el principio */
  }
  100% {
    transform: translateX(
      -50%
    ); /* Mueve la mitad de los elementos duplicados */
  }
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
  border-radius: 5px;
  border: 1px solid black;
}

.div5 {
  background-color: rgba(255, 255, 255, 0.301);
  grid-row-start: 6;
  box-shadow: rgba(0, 0, 0, 0.219) 2px 2px 2px;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.div5:hover {
  background-color: rgba(255, 255, 255, 0.548);
}
.div5 h1 {
  margin-top: 0;
}

.div6 {
  position: relative;
  grid-row-start: 6;
  border-radius: 5px;
  background-image: url(https://msmk.university/wp-content/uploads/2023/09/internet-3592056_640.jpg);
  background-size: cover;
  border: 1px solid black;
}
.div6 h1 {
  text-align: center;
}

.div1,
.div2,
.div4,
.div6 {
  background-color: #19213088;
  backdrop-filter: blur(80px);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.084) 2px 2px 2px;
}
#socials ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 2rem;
}

#socials img {
  width: 60px;
  z-index: 2;
}
#socials li {
  transition: 0.25s ease-in-out;
}
#socials li:hover {
  transform: translateY(-15px);
}
.verMas {
  width: 100%;
  display: flex;
  justify-content: center;
}
#abrir-modal {
  cursor: pointer;
  width: 50%;
  border: none;
  color: black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
  height: 5dvh;
  font-family: "Kay Pho Du", serif;
}

#abrir-modal:hover {
  background-color: rgba(255, 255, 255, 0.548);
}

#abrir-modal:active {
  margin-top: 0.25%;
}
